@model IEnumerable<EShop.Web.Models.Domain.Product>

@{
    ViewData["Title"] = "Index";
   
}
<div class="container">
    <div class="row">
        <a class="btn btn-success" asp-action="Create">Insert New Product</a>
    </div>

    <br />
    <br />



    <table id="myTable" class="table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ProductImage)*@
                        <img class="card-img-top" src="@item.ProductImage" style="height: 20%;" alt="Image for product!">
                    </td>
                    <td>
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a> |
                        <a asp-controller="Products" asp-action="AddProductToCard" asp-route-id="@item.Id" class="btn btn-info">Add to Card</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();//myTable is the id of the table to be displayed as dataTable
        });
    </script>
}

